@inherits LayoutComponentBase

<div class="auth-layout gap-4">
   <div class="w-100 h-auto d-flex justify-content-center align-items-center gap-1 betania-patmos-regular">
       <img src="/journal-code.svg" class="icon"/>
       Catatan
   </div>
        @Body
</div>
