*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-layout {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #230537, #2e214e, #3a3a64, #495379, #5d6d8c);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

